body{
    margin:0px;
    
}

h1{
    font-size: 25px;
}


div{
    float: left;
    width: 30%;
    font-weight: bold;
    font-size: 20pxs;
    padding-left: 5px;

}

section.top-section{
    height: 45px;
    background-color: black;
    color: white;
  
}

.second-section{
    height: 50px;
    background-color: white;
    color: black;
}
.second-section div{
    float: left;
    width: 45%;
    font-weight: bold;
    font-size: 10pxs;
    padding-left: 20px;
}
div.Pages{
    text-align: right;
    padding-left:20px;
    padding-top: 6px;

}
span{
    padding: 8px;
    font-size: 20px;
}
.third-section{
    height: 700px;
    width: 100%;
    background-image: url(images/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}

h1.abcd{
    font-size: 55px;
    padding-left: 100px;
    padding-top: 200px;
}
p.abcde{
    font-size: 25px;
    padding-left: 100px;
    padding-top: 2px;
    width: 600px;
}